@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Roboto&display=swap');

/* background image */
 .bg{
    background:url("../images/istockphoto-1032660462-612x612.jpg") no-repeat;
    height: 400px;
    width: 100%;
    margin-top: 0px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: -999; 
}

.logo{
    display: flex;
    border: 2px solid cornflowerblue;
    background-color: aliceblue;
    margin-top: 0;
    flex-wrap: wrap;
    position: relative;
    width: 33%;
    height: auto;
    font-family: "Roboto";
    font-size: large;
}

#menu{
    list-style-type: none;
    display: flex;
    justify-content:flex-end;
    margin-right: 0px;
    position: relative;
    margin-top: 0px;
    font-family: "Roboto";
    font-size: 20px;
}

li a, .dropbtn {
    display: flex;
    background-color: rgb(254, 254, 254);
    color: rgb(84, 57, 241);
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(74, 184, 76);
  }
  
  li.dropdown {
    display: block;
  }
  
  .dropdown-content {
    display: none;
    position: relative;
  }
  
  .dropdown-content a {
    color: black;
    padding: 10px 20px;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  #welcome{
    margin-top: 100px;
  }

  #junior{
    /* position: relative; */
    font-family: 'Caveat Brush';
    font-size: 2em;
    color: rgb(252, 251, 250);
    height: auto;
    width: auto;
    
    background-color: rgb(32, 27, 27);
    border: 20px ridge rgb(87, 45, 0);
  }

  #notepad {
    width: 100%;
    height: auto;
    border: 1px solid #000;
    display: flex;
    position:absolute;
    overflow: hidden;
    z-index: -999;
  }
 .fill{
  object-fit: fill;
 }

 #leaving-block, #junior-block, #teacher-block{
  display: flex;
  justify-content: center;
  height:60px;
  color: bisque;
  background-color: blue;
  margin: 30px 0;
  text-align: center;
  font-family: "Roboto";
  font-size: 25px;
  
  

 }
#leaving{
  border: 1px solid black;
}
  #leaving > p{
    /* position: relative; */
   
    
    font-family: 'Caveat brush';
    text-decoration: underline;
    font-size: 2em;
    color: rgb(248, 7, 7);
    height: 100%;
    width: 100%;
    

    
  }

  #leaving-section{
    margin-top: 50px;
    height: 100%;
  }

  /* #teacher-img{
    
    background: url("../images/notepad-1198011.jpg") no-repeat center center;
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 100%;
    
  } */


  #teacher{
    
    position: relative;
    width: 100%;
    height:750px;
    /* height: 700px; */
    
  }

  .material-icons.md-100 { 
   
    font-size: 100px; 
    color: aqua;
    white-space: normal;
    position: relative;
    display: block;
    
  }

  
